# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv('../output_data/cities_weather_data.csv')
cities_df.head()

,Unnamed: 0,city,lat,lon,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,date
0,1,ushuaia,-54.8000,-68.3000,42.46,81,40,26.46,AR,1653946067
1,2,lebu,-37.6167,-73.6500,45.03,74,0,12.59,CL,1653946647
2,3,mar del plata,-38.0023,-57.5575,46.09,54,40,7.00,AR,1653946119
3,4,rikitea,-23.1203,-134.9692,74.26,78,41,8.88,PF,1653946264
4,5,mataura,-46.1927,168.8643,52.48,85,100,3.96,NZ,1653946265

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# pretty sure my gmaps API key expired

In [9]:
# Create a Humidity Heatmap layer, centered on Atlanta
fig = gmaps.figure(center=(33.76306719158919, -84.37838443532597),zoom_level=2.5)

heat_layer = gmaps.heatmap_layer(locations=cities_df[['lat','lon']], weights=cities_df['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
ideal_cities = cities_df[cities_df['Max_Temp'] > 50]
ideal_cities = cities_df[cities_df['Max_Temp'] < 60]
ideal_cities = cities_df[cities_df['Humidity'] < 30]
ideal_cities = cities_df[cities_df['Wind_Speed'] < 10]

ideal_cities

,Unnamed: 0,city,lat,lon,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,date
2,3,mar del plata,-38.0023,-57.5575,46.09,54,40,7.00,AR,1653946119
3,4,rikitea,-23.1203,-134.9692,74.26,78,41,8.88,PF,1653946264
4,5,mataura,-46.1927,168.8643,52.48,85,100,3.96,NZ,1653946265
5,6,urucara,-2.5364,-57.7600,75.60,94,97,1.81,BR,1653946648
6,7,arraial do cabo,-22.9661,-42.0278,73.26,88,0,2.30,BR,1653946478
...,...,...,...,...,...,...,...,...,...,...
557,558,kirakira,-10.4544,161.9205,82.71,76,35,5.35,SB,1653947520
559,560,srandakan,-7.9386,110.2506,75.27,88,55,2.48,ID,1653947521
560,561,iwanai,42.9744,140.5089,53.37,83,100,8.32,JP,1653947521
561,562,grindavik,63.8424,-22.4338,48.67,100,100,8.05,IS,1653947521
563,564,henties bay,-22.1160,14.2845,58.41,78,0,7.72,NaN,1653947522

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
hotel_df = ideal_cities
hotel_df['Hotel Name']
hotel_df.head(3)

,Unnamed: 0,city,lat,lon,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,date,Hotel Name
2,3,mar del plata,-38.0023,-57.5575,46.09,54,40,7.00,AR,1653946119,
3,4,rikitea,-23.1203,-134.9692,74.26,78,41,8.88,PF,1653946264,
4,5,mataura,-46.1927,168.8643,52.48,85,100,3.96,NZ,1653946265,

In [20]:
# find hotels
params = {
    "radius": 50000,
    "types": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    
    lat = row['lat']
    lon = row['lon']
    
    params["location"] = f"{lat},{lon}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    response = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][1]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    hotel_df

C:\Users\east6\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.

In [21]:
#check results of API
hotel_df

,Unnamed: 0,city,lat,lon,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,date,Hotel Name
2,3,mar del plata,-38.0023,-57.5575,46.09,54,40,7.00,AR,1653946119,Gran Hotel Mar del Plata
3,4,rikitea,-23.1203,-134.9692,74.26,78,41,8.88,PF,1653946264,People ThankYou
4,5,mataura,-46.1927,168.8643,52.48,85,100,3.96,NZ,1653946265,Esplanade Motels
5,6,urucara,-2.5364,-57.7600,75.60,94,97,1.81,BR,1653946648,City of San Sebastian Uatumã
6,7,arraial do cabo,-22.9661,-42.0278,73.26,88,0,2.30,BR,1653946478,Pousada Porto Praia
...,...,...,...,...,...,...,...,...,...,...,...
557,558,kirakira,-10.4544,161.9205,82.71,76,35,5.35,SB,1653947520,Bank of South Pacific
559,560,srandakan,-7.9386,110.2506,75.27,88,55,2.48,ID,1653947521,SafariFM
560,561,iwanai,42.9744,140.5089,53.37,83,100,8.32,JP,1653947521,Adagio
561,562,grindavik,63.8424,-22.4338,48.67,100,100,8.05,IS,1653947521,Hotel Keflavik
563,564,henties bay,-22.1160,14.2845,58.41,78,0,7.72,NaN,1653947522,Fishermans Guest House

In [24]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [26]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))